.side-bar {
  height: 100%;
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    &__top-items {
      height: 20px;
      width: 260px;
      margin: auto;
      align-items: center;
      display: flex;
      justify-content: space-between;
      &__name {
        line-height: 20px;
        color: white;
        font-weight: bold;
      }
      &__icons {
        width: 60px;
        height: 20px;
        line-height: 20px;
        text-align: right;
        &__new-group {
          text-decoration: none;
          color: #ffffff;
          margin-right: 5px;
        }
        &__user-edit {
          text-decoration: none;
          color: #ffffff;

        }
      }
    }
  }
  &__groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__box {
      color: #ffffff;
      padding: 20px 20px 20px 20px;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__comment {
        font-size: 11px;
      }
    }
  }
}

